@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header{
    padding: 10px;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 9000;
    width: 100%;
}

.nav_list{
    display: flex;
    align-items: center;
    flex-wrap:wrap;

}

ul, li, a{
    font-weight: 600;
    display: flex;
    font-family:Pacaembu, sans-serif;
    color: #fff;
    gap: 5px;
    padding: 5px;
    text-decoration: none;
    font-size: 15px;
}


.logo-png{
    background-color:#000000;
    max-width: 150px;
}

.nav-2 > .btn0, .btn1, .btn2{
    padding:10px;
    border: none;
    background: #000;
   
}


.btn0, .btn1, .btn2{
    font-weight:600;
    color: #fff;
    font-size: 15px;
}

.btn0:hover{
    border: 2px solid aqua;
    border-radius: 5px;
} 
.btn1:hover{
    border: 2px solid aqua;
    border-radius: 5px;
} 
.btn2:hover{
    border: 2px solid aqua;
    border-radius: 5px;
}
 
li:hover{
    border: 2px solid aqua;
    border-radius: 5px;
}   


.btn3{
    font-weight:600;
    color: #0a0a0a;
    padding: 15px;
    border-radius: 10px;
    background-color: aqua;
    font-size: 15px;
}

.btn3:hover{
    background-color: rgb(160, 250, 250);
}


.nav{
    display: flex;
    align-items: center;
}


button{
    background-color: #000;
    border: none;
}


.section-1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 80px;
    background-color:#12181F;
}



h2{
    color: #fff;
    font-size:67px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 90px;
    font-family: "Geist", sans-serif;
}


/* .firstpara{
    color: #cbc1c1;
    font-size: 40px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-weight: 550;
    word-spacing: 2px;
    line-height: 35px;
    font-family: "Geist", sans-serif;
} */



.firstpara{
    font-size: 30px;
    color:#e9ecef;
    text-align: center;
    font-weight: 550;
    word-spacing: 2px;
    line-height: 35px;
    font-family: "Geist", sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.8em;
    max-width: 868px;
}


.section-1-btns{
    /* margin-top: 65px; */
    background-color: rgb(59, 59, 218);
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    word-spacing: 2px;
    font-family: "Geist", sans-serif;   
    font-weight: 600;
}


.section-btns{
    display: flex;
    align-items: center;
    gap: 15px;
}

.a-tag:hover{
    text-decoration: underline aqua;

}

 .scroll-container{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-container::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100px; 
    height: 100%;
    background: linear-gradient(to left, white, transparent);
    pointer-events: none;
    z-index: 2;
}

.scroll-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    background: linear-gradient(to right, white, transparent);
    pointer-events: none;
    z-index: 2;
}

.scroll-content{
    display: flex;
    animation: scroll 35s linear infinite;
}

.scroll-content{
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.scroll-content img{
    width: 130px;
    margin-right: 10px;
}

@keyframes scroll {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-50%);
    }
} 




.section-3{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


h1{
    color: #000;
    padding: 40px;
    font-size:50px;
    font-weight: 700;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Geist", sans-serif;
}

.three-box{
    display: flex;
    justify-content: space-around; 
    padding: 30px; 
    justify-content: center;
}

.imag-icon-1{
    padding: 50px;
    width:fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius:150px;
    border: 1px solid lightblue;
    background-color: #fff;
}

.box-1, .box-2, .box-3{
    display: grid;
    grid-template-columns: repeat(3,1fr,1fr);
}

.heading{
    font-size: 25px;
    font-weight: 200;
    font-family: "Geist", sans-serif; 
}


.double-val{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12.3px;
    gap: 20px;

}

.para-tag{
    font-size: 17px;
    line-height: 25px;
    text-align: center;
    font-family: "Geist", sans-serif; 
}

.btn3-sign, .fa-bars, .btn1{
    display: none;
}









.section-4{
    margin-top: 15px;
    padding-bottom:50px;
    border: 1px solid rgb(235, 228, 228);
    border-radius: 10px;
    padding: 25px;
    box-shadow:rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.table-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 4px; 
    overflow-x: auto; 

    
}

table {
    width: 100%;
    border-collapse: collapse; 
    background-color: #ffffff;
    font-size: 18px;
    line-height: 1.5;
    font-family: Geist, sans-serif;

}


th, td {
    border: none;
    padding: 12px 15px;
    text-align: left;
    font-family: Geist, sans-serif;
    font-size: 15px;
}


.section-header th {
    background-color: #343a40; 
    color: #ffffff; 
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.5px;
    padding: 15px 15px;
    text-transform: uppercase;
}

.content-row td {
    color: #495057;
    border: 1px solid #e9ecef;
}

.content-row td:first-child {
    font-weight: 600;
    color: #212529; 
    width: 35%;
}


.content-row th {
    background-color: #f7f7f7; 
    border-bottom: 1px solid #e9ecef;
}

.content-row td:not(:first-child) {
    text-align: center; 
    width: 20%;
    font-size: 13px;
}


.content-row td:not(:first-child):contains("✔") {
    color: #007bff; 
    font-size: 18px;
    font-weight: 900;
}

.fa-check{
    font-size: 20px;
    font-weight: 900;
}




.bottom-list{
    display: flex;
    gap: 20px;
    margin: 30px;
    padding: 20px; 
    font-size: 15px;
}

.final-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.copy-right{
    font-size: 15px;
    margin: 30px;
    padding: 20px; 
}



@media (max-width: 768px) {
    .table-container {
        display: block;
        overflow-x: auto;
        scroll-behavior: smooth;
    }

    table {
        min-width: 700px; 
    }

    .content-row td {
        padding: 10px 8px; 
    }

    .content-row td:first-child {
        width: 40%;
    }

    .content-row td:not(:first-child) {
        width: 20%;
    }
}

.section-5{
    margin-top: 80px;
    padding-bottom:50px;
    border: 1px solid rgb(235, 228, 228);
    border-radius: 10px;
    padding:45px;
    box-shadow:#63636333 0px 2px 8px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    gap: 30px;
    margin-left: auto;
    margin-right: auto;

}

.para-textii {
    margin-block: 1rem;
    flex-basis: 15em;
    line-height: 30px;
    flex-grow: 1;
    font-size: 25px;
    position: relative;
    text-align: left;
    font-weight: 500;
    font-family: "Geist", sans-serif;
    max-width: 700px;
}

strong, .paragrphy{
    font-family: "Geist", sans-serif;
}

.section-6{
    margin-top: 70px;
    display: flex;
    gap:20px;
    justify-content: center;
}

h3{
    color: #000;
    padding: 30px 30px 0 30px;
    font-size:50px;
    font-weight: 700;
    /* word-spacing: 10px; */
    line-height: 70px;
    margin-bottom: 10px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-family: "Geist", sans-serif;
}

.para-head{
    padding:30px 30px 0 30px;
    font-size:25px;
    font-weight:500;
    font-family: "Geist", sans-serif;
}

.list{
    color:#000;
    display: flex;
    flex-direction: column;
    gap:10px;
    font-weight: 500;
    padding: 30px 30px 0 30px;
    font-size: 25px;
    font-family: "Geist", sans-serif;
}

form{
    display: flex;
    flex-direction: column;
    gap:10px;
    padding: 30px;
    font-family: "Geist", sans-serif;
}

input, select{
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(151, 147, 147);
}

 textarea{
    padding: 20px;
    border-radius: 5px;
    border: 2px solid rgb(151, 147, 147);
}



.btns-submit{
    padding:15px;
    color:#0e0d0d;
    font-size: 20px;
    font-weight: 600;
    font-family: "Geist", sans-serif;
    background-color: aqua;
    border-radius: 5px;
}

.agree{
    font-size: 15px;
    color: rgb(160, 157, 157);
}




.section-7{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(18, 24, 31);
    padding: 80px;
}

.section-7-btns {
    /* margin-top: 65px; */
    background-color: rgb(59, 59, 218);
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    word-spacing: 2px;
    font-family: "Geist", sans-serif;
    font-weight: 600;
}





.section-8{
    margin-top: 80px;

}

.section-end{
    display: flex;
    flex-wrap: wrap;
    padding-left: 70px;
    padding-right: 70px;
    justify-content: space-between;
    align-items: center;
}

.section-icons{
    display: flex;
    gap: 20px;
    opacity:0.5;
}


.footer-list{
    margin-top: 70px;
    display: flex;
    gap:13%;
    flex-wrap:wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content:center;
}


h5{
    color: #000;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 10px;
    font-family: "Geist", sans-serif;
}

.list-of-list{
    display: flex;
    flex-direction: column;
    gap:15px;
    font-family: "Geist", sans-serif;   
}

.list-in{
    color: #818283;
}

.list-in:hover{
    text-decoration: underline rgb(124, 121, 121);
}



.footer-section{
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.ended{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box-inp{
    display: flex;
    gap: 15px;
}


.inp-email{
    margin-left: 20px;
    padding-inline: 80px;
}

.subscribe{
    background-color: aqua;
    padding: 15px;
    color: #495057;
    border-radius: 5px;
    font-weight: 900;
    font-family: "poppins", sans-serif;
}

#email-label{
    font-size: 12px;
    font-weight: 400;
    font-family: "Mulish", sans-serif;   
}



.email-input{
    margin-left: 40px;
    width: 360px;
    border: 1px solid #aba8a8;
}



.ended{
    margin-bottom: 50px;
}





#cemail-error, #fname-error, #lname-error, #cname-error, #url-error, #select-error, #text-error{
    color:red;
    font-size: 10px;
}

 @media(max-width:1001px){
    .nav_list{
        display: flex;
        flex-direction: column;
        gap: 20px;
        min-width: 50%;   
    }
     .logo-png{
        align-self: flex-start;
        height: 40px;
        padding: 0;
    } 

    ul{
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: space-between;
        gap: 28px;
        width: 100%;
    }

    .fa-angle-down{
        display:none;
    }
    
    .nav{
        display: none;
        position: relative;
        left: 50%;
        right: 50%;
    }
    .navbar-lists-return{
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        left: 0;
    }
    .btn3{
        display: none;
    }
    header{
        display: flex;
        position: fixed;
        top: 0;
        z-index: 10000;
        width: 100%;
    }
    .fa-bars{
        display: flex;
    }

    .sign-in{
        display: none;
        margin-top: 40px;
        width: 100%;
        position: relative;
        right: 35%;
        left: 50%;
        margin-right: 50px;
        text-align: center;
        
    }
    .sign-return{
        display: flex;
        justify-content: center;
        align-items: center;        
    }

    .btn3-sign{
        display: flex;
        background-color: aqua;
        padding: 10px;
        width:100%;
        font-weight: 600;
        justify-content: center;
        font-size: 20px;
        text-align: center;
        border-radius: 5px;
    }
    .nav-2{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .nav-2{
        align-self: flex-start;
    }    



    .bottom-list{
        display: flex;
        margin: 0;
        flex-wrap: wrap;
    }

    .final-footer{
        display: flex;
        gap: 0;
        flex-direction: column;
        flex-wrap: wrap;
    }
} 

@media(min-width:320px) and (max-width:600px){
    h2 {
        margin-top:70px;
        font-size: 30px;
        text-align: center;
        font-weight: 700;
    }

    .firstpara{
        font-size: 20px;
        line-height: 25px;
        word-spacing: 1px;
    }

    .section-1{
        padding: 34px;
    }
    .section-3{
        margin-top: 75px;
    }

    .section-btns{
        margin-top: 0;
        display:flex;
        flex-direction:column;
    }

    h1 {
        color: #000;
        padding: 0;
        font-size: 23px;
        font-weight: 700;
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        text-align: center;
        margin-bottom:10px;
    }

    .three-box {
        display: flex;
        flex-direction: column;
        padding: 0;
    }


    .para-tag {
        font-size: 14px;
        line-height: 20px;
        text-align: center;
    }
    .section-5{
        display: flex;
        flex-direction: column;
        margin: 20px;
    }

    .para-textii{
        font-size: 17px;
        line-height: 23px;
    }

    strong, .paragrphy {
        font-family: "Geist", sans-serif;
        font-weight: 400;
    }

   .section-6{
        display: flex;
        flex-direction: column;
   }

    h2 {
        margin-top: 70px;
        font-size: 25px;
        text-align: center;
    }
    .section-7{
        margin-top: 50px;
        padding: 20px;
    }
    .section-7-btns{
        font-size: 16px;
    }

    h3{
        font-size:20px;
        line-height: 25px;
    }
    .para-head{
        font-size: 19px;
    }
    .list {
        color: #000;
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-weight: 500;
        padding: 30px 30px 0 30px;
        font-size: 17px;
        font-family: "Geist", sans-serif;
    }
    .section-end{
        display: flex;
        padding: 10px;
        justify-content: space-between;
        align-items: center;
    }

    #email-label{
        font-size: 15px;
        font-family: "Geist", sans-serif;
    }

    .email-input{
        margin-left: 0;
        width: 100%;
    }
    .box-inp {
        display: flex;
        gap: 15px;
        flex-direction: column;
    }
}


@media(min-width:601px) and (max-width:1000px){
    
    .first-h2{
        margin-top:70px;
        font-size: 50px;
        text-align: center;
        font-weight: 700;
    }

    .firstpara{
        font-size: 25px;
        line-height: 30px;
        word-spacing: 1px;
    }

    .section-1{
        padding: 28px;
    }

    .section-btns{
        margin-top: 0;
        display:flex;
        flex-direction:column;
    }

    h1 {
        color: #000;
        padding: 0;
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        text-align: center;
        margin-bottom:10px;
    }

    .three-box {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        align-items: baseline;
    }


    .para-tag {
        font-size: 14px;
        line-height: 20px;
        text-align: center;
    }
    .section-5{
        display: flex;
        margin: 20px;
    }

    .para-textii{
        font-size: 17px;
        line-height: 23px;
    }

    strong, .paragrphy {
        font-family: "Geist", sans-serif;
        font-weight: 400;
    }

   .section-6{
        display: flex;
   }

    h2 {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 25px;
        text-align: center;
    }
    .section-7{
        margin-top: 50px;
        padding: 20px;
    }
    .section-7-btns{
        font-size: 16px;
    }

    h3{
        font-size: 35px;
        line-height: 35px;
    }
    .para-head{
        font-size: 19px;
    }
    .list {
        color: #000;
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-weight: 500;
        padding: 30px 30px 0 30px;
        font-size: 17px;
        font-family: "Geist", sans-serif;
    }
    .section-end{
        display: flex;
        padding: 10px;
        justify-content: space-between;
        align-items: center;
    }

    #email-label{
        font-size: 12px;
        font-family: "Mulish", sans-serif;
    }
    
}











